body {
    font-family: 'Nunito Sans', sans-serif;
}
.contaner {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 25px;
}
header {
    border-bottom: 1px solid #dedede;
}
.header-item {
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-basis: 68.5%;
}
.header-logo {
    display: block;
    background-image: url(../img/logo.svg);
    width: 176px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    gap: 46px;
}
.header-nav a {
    font-size: 20px;
    font-weight: 600; 
    color: #443737; 
    text-decoration: none; 
}
.header-nav a:hover {
    color: #FFC725;
}
.header-nav a::after {
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background: transparent;
    display: block;
}
.header-nav a.active::after {
    background: #FFC725;
}
.button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    gap: 10px;
    cursor: pointer;
}
.button-item {
    position: relative;
}
.button-count {
    font-weight: 700;
    font-size: 13px;
    color:#FFF;
    background:#F37335;
    border-radius:100% ;
    position: absolute;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 1.3;
    bottom: 3px;
    right: -4px;
}
.button-text {
    color:#443737;
    font-weight: 700;
font-size: 15px;
}
.bg {
    text-align: center;
    color: #FFF;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center center;
    padding: 142px 0;
    margin-bottom: 140px;
}
.breadcrumbs {
    padding-left: 0;
    margin-top: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 7px;
}
.breadcrumbs a{
    color: #dedede;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
.breadcrumbs a:hover {
    color: #FFC725;
}
.breadcrumbs a::before {
    content: '/';
    position: relative;
    left: -3px;
    pointer-events: none;
}
.breadcrumbs a:hover::before {
    color: #dedede;
}
.breadcrumbs li:first-child a::before {
    display: none;
}
.title {
    font-size: 700;
    font-size: 79px;
    margin-top: 17px;
    margin-bottom: 20px;
}
.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #faf9f9;
    max-width: 320px;
    margin: 0 auto;
}
.banner {
    color: #FFF;
    background-image: url(../img/banner.jpg);
    max-width: 1180px;
    height: 438px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.container {
    width: 353px;
    height: 238px;
    text-align: left;
    padding: 100px 0 0px 100px;
}
.banner-box span {
    color: #FFF;
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    border-radius: 14px;
    background: #F37335;    
    display: flex;
    width: 95px;
    height: 28px;
    justify-content: center;
    align-items: center;
}
.banner-text {
    color: #FAF9F9;
    font-family: 'Open Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 327px;
    height: 48px;
    margin-bottom: 30px
}
.banner-title {
    color: #FFF;
    font-family: 'Nunito Sans';
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    line-height: 76px;
    text-transform: uppercase;
    margin: 0;
}
.banner-link {
    border-radius: 5px;
    background: #FBB731;
    color: #1E2F40;
    font-size: 14px;
    padding: 18px 25px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #FBB731
}
.banner-link:hover {
    background-color:transparent;
    color: #FBB731;
}
.menu-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 37px;
}
.menu-title {
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    color: #1b2a49;
    margin: 0;
}
.menu-select {
    border: 1px solid #dedede;
    padding: 13px 30px;
    border-radius: 22px;
    color: #443737;
    font-size: 15px;
    appearance: none;
    flex-basis: 279px;
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-size: 12.79px 7.75px;
    background-position: 89% center;
}
.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.menu-grid-cover {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
}
.menu-grid-cover img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    width: 100%;
    height: 430px;
}
.menu-grid-title {
    color: #1B2A49;
    text-align: center;
    font-family: 'Nunito Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
    margin-bottom: -7px;
}
.menu-grid-price {
    color: #979797;
    text-align: center;
    font-family: 'Nunito Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}
.menu-grid-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 26px;
    border-radius: 5px;
    border: none;
    background: #FBB731;
}
.menu-grid-btn:hover {
    background-color:transparent;
    background-color: #F37335;
    cursor: pointer;
}
.menu-grid-icon {
    background-repeat: no-repeat;
    background-size: cover;
    align-items:center;
    position: absolute;
    margin-left: -78px
}
.menu-grid-text {
    padding: 10px 30px 10px 52px;
    color: #1E2F40;
    text-align: center;
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; 
    text-transform: uppercase;
}
.bonus {
    margin-top: 75px;
}
.footer {
    background: #1E2F40;
    color: #fff;
    padding-top: 117px;
    padding-bottom: 106px;
    margin-top: 140px;
}
.footer-box {
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 63px;
    height: 56px;
}
.footer-item {
    flex: 0 0 auto;
}
.footer-item h2 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 19px;
    margin-top: 0;
}
.footer-item ul,
.footer-tel ul {
    list-style-type: none;
}
.footer-list li {
    margin-bottom: 9px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #FAF9F9;
    font-weight: 700;
    line-height: 24px;
}
.footer-list a {
    color: #FBB731;
    text-decoration: none;
    font-weight: 400;
}
.footer-item span {
    color: #DEDEDE;
    display: block;
    font-weight: 400;
    margin-bottom: 2px;
}
.footer-list-tel {
    margin-top: 0;
}
.footer-list-tel a {
    font-size: 20px;
    font-weight: 900;
    color: #DEDEDE; 
}
.footer-tel li {
    margin-bottom: 12px;
}
.footer-list {
    padding-left: 0;
    list-style-type: none;
}